footer {
    height: 100%;
    background-color: var(--half-baked-950);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: var(--corn-field-100);
    padding: 50px;
    gap: 40px;
}

footer .logo {
    height: 100px;
}

footer .footer-middel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

footer h2 {
    font-family: var(--titles);
    font-size: 20px;
}

footer button {
    font-size: 1.5em;
    color: var(--corn-field-100);
    background-color: var(--half-baked-900);
    border: none;
    padding: 10px 60px 10px 25px;
    border-radius: 50px;
}

footer #button-arrow {
    right: 45px;
}

footer #button-arrow img {
    height: 20px;
}

footer .left {
    width: 15%;
    min-width: 219px;
}

footer .right {
    display: flex;
    width: 35%;
    min-width: 400px;
    justify-content: space-around;
}

.socials img {
    height: 30px;
    margin: 0px 5px;
}

hr {
    width: 100%;
}