header{
    height: 100px;
    display: flex;
    background-color: transparent;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 40px); /* 40px = Total padding on sides */
    z-index: 2;
    transition: 1s;
}

.header-color {
    background-color: var(--half-baked-900);
    transition: .5s;
}

.header-color .user {
    background-color: var(--half-baked-300);
    transition: 1s;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    padding-left: 20px;
}

 nav a {
    text-decoration: none;
    color: var(--corn-field-100);
    font-size: xx-large;
}

a:hover {
    color: var(--corn-field-500);
}

.logo {
    height: 80px;
}

.links {
    display: flex;
    gap: 30px
}

.user {
    margin-left: 20px;
    padding: 10px;
    height: 60px;
    border-radius: 50%;
    transition: 1s;
}

.user img {
    height: 60px;
}

@media screen and (max-width: 1200px){        
    .links{
       display: none;
    }

    nav {
        justify-content: flex-end;
    }
}