header{
    height: 100px;
    background-color: var(--half-baked-600);
    display: flex;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

a:hover {
    color: #444;
}

.logo {
    height: 80px;
}

.links {
    display: flex;
    gap: 30px
}

.user {
    padding-left: 20px;
    height: 60px;
}

.user img {
    height: 60px;
}

@media screen and (max-width: 1200px){        
    .links{
       display: none;
    }

    nav {
        justify-content: flex-end;
    }
}