header{
    height: 100px;
    display: flex;
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 40px); /* 40px = Total padding on sides */
    z-index: 2;
    transition: 1s;
}

.header-color {
    background-color: var(--half-baked-900);
    transition: .5s;
}

.header-color .user,.header-color .burger {
    background-color: var(--half-baked-300);
    transition: 1s;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    padding-left: 20px;
}

 nav a {
    text-decoration: none;
    color: var(--corn-field-100);
    font-size: xx-large;
}

nav a:hover {
    color: var(--corn-field-500);
}

.logo {
    height: 80px;
}

.links {
    display: flex;
    gap: 30px
}

.user {
    margin-left: 20px;
    padding: 10px;
    height: 50px;
    border-radius: 50%;
    transition: 1s;
}

.user img {
    height: 50px;
}

.burger {
    display: none;
    justify-content: flex-end;
    border-radius: 100%;
    transition: 1s;
    padding: 7px;
}

.burger-button {
    background-color: transparent;
    border: none;
}

.burger img {
    height: 50px;
    width: 50px;
    position: relative;
    top: 2px;
}

@media screen and (max-width: 1200px){        
    .links{
       display: none;
    }

    nav {
        justify-content: flex-end;
    }

    .burger {
        display: flex;
    }
}


.side-panel {
    display: grid;
    grid-template: 
    'Close'
    'Links'
    'User';
    grid-template-rows: 100px auto 100px;
    visibility: hidden;
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: var(--half-baked-950);
    z-index: 2;
}

.close-side {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.close-side button {
    background-color: transparent;
    border: none;
}

.close-side img {
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--half-baked-300);
}

.links-side {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: xx-large;
    gap: 20px;
}

.links-side a {
    text-decoration: none;
    color: var(--corn-field-100);
}

.links-side a:hover {
    color: var(--corn-field-500);
}

.user-side {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.user-side a {
    width: fit-content;
    background-color: var(--half-baked-300);
    border-radius: 50%;
    padding: 10px;
    height: 50px;
}

.user-side img {
    height: 50px;
}

@media screen and (min-width: 1200px) {
    .side-panel {
        display: none;
    }
}