#first-section {
    height: 800px;
    background-color: var(--half-baked-600);
    display: flex;
    padding-top: 100px;
    animation: animateBackground 10s ease-in-out infinite;
    background: linear-gradient(45deg, var(--half-baked-300), var(--half-baked-600),var(--half-baked-900));
    background-size: 200% 200%;
    padding-bottom: 100px;
}
@keyframes animateBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: var(--corn-field-100);
    width: 100%;
}

.intro h1 {
    width: 50%;
    font-family: var(--titles);
    font-size: 4em;
    text-align: center;
}

.start-here {
    display: flex;
    align-items: center;
}

.intro button {
    font-size: 2em;
    color: var(--corn-field-100);
    background-color: var(--half-baked-900);
    border: none;
    padding: 10px 60px 10px 25px;
    border-radius: 50px;
}

.intro button:hover {
    cursor: pointer;
}

.intro #button-arrow {
    background-color: var(--half-baked-900);
    border: none;
    position: relative;
    display: flex;
    
    right: 45px;
    width: 30px;
    padding: 0px;
}

.intro #button-arrow:hover {
    cursor: pointer;
}

.intro #button-arrow img {
    height: 30px;
}

.intro #button-arrow img:hover {
    cursor: pointer;
}