#second-section {
    height: 800px;
    background-color: var(--half-baked-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 

#second-section .stocks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stocks div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#second-section .focused {
    background-color: var(--half-baked-300);
    height: 20vw;
    width: 45vw;
    filter: brightness(80%);
    border-radius: 30px;
    transition: all .5s ease 0s;
    z-index: 1;
    font-size: 1vw;
}

#second-section .not-focused {
    background-color: var(--half-baked-300);
    height: 10vw;
    width: 23vw;
    filter: brightness(50%);
    border-radius: 20px;
    transition: all .5s ease 0s;
    font-size: .5vw;
}

.stocks .center {
    transform: translateX(0);
}

.stocks .left {
    transform: translateX(-125%);
}

.stocks .right {
    transform: translateX(125%);
}
