.spacer {
    aspect-ratio: 900/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#firstToSecond {
    background-image: url("../../../assets/images/waves/wave-haikei.svg");
    position: absolute;
}

#secondToThird {
    background-image: url("../../../assets/images/waves/secondToThirdSection.svg");
}