.spacer {
    aspect-ratio: 900/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#firstToSecond {
    height: 0px;
    position: relative;
}

#firstToSecond svg{
    aspect-ratio: 900/200;
}

#wave2 {
    visibility: hidden;
}

#secondToThird {
    background-image: url("../../../assets/images/waves/secondToThirdSection.svg");
}