/* FIRST SECTION */

#first-section {
    height: 800px;
    background-color: var(--half-baked-600);
    display: grid;
    grid-template-areas: 
        "header"
        "search bar"
        "introduction";
    grid-template-rows: 100px 200px auto;
}

header {
    display: flex;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

.links {
    display: flex;
    gap: 30px
}

a {
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

a:hover {
    color: #444;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    height: 40px;
    width: 50%;
    border-radius: 30px;
    border: none;
    background-color: rgb(255, 255, 255, 0.5);
    transition: 0.5s;
    padding: 10px 70px 10px 25px;
    font-size: 20px;
} 

#search:focus {
    background-color: white;
    outline: none;
}

.search-icon {
    background-color: transparent;
    border: none;
}

.search-icon:hover {
    cursor: pointer;
}

.search-icon img {
    height: 30px;
    position: relative;
    right: 60px;
    top: 1px
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--corn-field-100);
}

.intro h1 {
    width: 50%;
    font-family: var(--titles);
    font-size: 4em;
    text-align: center;
}

.intro button {
    font-size: 2.5em;
    color: var(--corn-field-100);
    background-color: var(--half-baked-900);
    border: none;
    padding: 10px 60px 10px 25px;
    border-radius: 50px;
}

#button-arrow {
    background-color: var(--half-baked-900);
    border: none;
    position: relative;
    padding: 0px;
}

.intro #button-arrow {
    left: 100px;
    bottom: 53px;
}

.intro #button-arrow img {
    height: 30px;
}

#button-arrow img:hover {
    cursor: pointer;
}


/* SECOND SECTION */

#second-section {
    height: 800px;
    background-color: var(--half-baked-300);
} 


/* FOOTER */

footer {
    height: 800px;
    background-color: var(--half-baked-950);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--corn-field-100);
}

footer h2 {
    font-family: var(--titles);
}

footer button {
    font-size: 1.5em;
    color: var(--corn-field-100);
    background-color: var(--half-baked-900);
    border: none;
    padding: 10px 60px 10px 25px;
    border-radius: 50px;
}

footer #button-arrow {
    left: 65px;
    bottom: 37px;
}

footer #button-arrow img {
    height: 20px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.cards div {
    height: 400px;
    width: 500px;
    background-color: var(--half-baked-800);
    border-radius: 50px;
}

#card2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}