#first-section {
    height: 800px;
    background-color: var(--half-baked-600);
    display: grid;
    grid-template-areas: 
        "header"
        "search bar"
        "introduction";
    grid-template-rows: 100px 200px auto;
}

header {
    display: flex;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
}

.links {
    display: flex;
    gap: 30px
}

a {
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

a:hover {
    color: #444;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    height: 40px;
    width: 50%;
    border-radius: 30px;
    border: none;
    background-color: rgb(255, 255, 255, 0.5);
    transition: 0.5s;
    padding: 10px 70px 10px 25px;
    font-size: 20px;
} 

#search:focus {
    background-color: white;
    outline: none;
}

.search-icon {
    background-color: transparent;
    border: none;
}

.search-icon:hover {
    cursor: pointer;
}

.search-icon img {
    height: 30px;
    position: relative;
    right: 60px;
    top: 1px
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--corn-field-100);
}

.intro h1 {
    width: 50%;
    font-family: var(--titles);
    font-size: 4em;
    text-align: center;
}

.intro button {
    font-size: 2.5em;
    color: var(--corn-field-100);
    background-color: var(--half-baked-900);
    border: none;
    padding: 10px 60px 10px 25px;
    border-radius: 50px;
}

.intro button:hover {
    cursor: pointer;
}

#button-arrow {
    background-color: var(--half-baked-900);
    border: none;
    position: relative;
    left: 100px;
    bottom: 53px;
    width: 30px;
    padding: 0px;
}

#button-arrow:hover {
    cursor: pointer;
}

#button-arrow img {
    height: 30px;
}

#button-arrow img:hover {
    cursor: pointer;
}

#second-section {
    height: 800px;
    background-color: var(--half-baked-300);
} 