.first-section {
    padding: 150px 50px 50px 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 46.5vw;
}

.first-section .left{
    height: 45vw;
    width: calc(50% - 40px);
    padding: 20px;
}

.first-section .left, .first-section .right1, .first-section .right2{
    background-color: var(--half-baked-300);
    border-radius: 50px;
    box-shadow: 0 0 20px var(--half-baked-900);
}

.first-section .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.first-section .right2 {
    margin-top: 2vw;
}

.first-section .right1, .first-section .right2 {
    height: 21vw;
    width: 100%;
    padding: 15px;
}

.first-section h2, .second-section h2 {
    color: var(--corn-field-100)
}

.first-section .right2 h2{
    font-size: 1vw;
}

.second-section {
    padding: 150px 50px 50px 50px;
    display: none; /* flex */
    justify-content: center;
    gap: 50px;
    height: 46.5vw;
}

.second-section .left{
    height: 45vw;
    width: calc(50% - 40px);
    padding: 20px;
}

.second-section .right{
    height: 45vw;
    width: calc(50% - 40px);
    padding: 20px;
}

.second-section .left, .second-section .right{
    background-color: var(--half-baked-300);
    border-radius: 50px;
    box-shadow: 0 0 20px var(--half-baked-900);
}