<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/variables.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="styles/waves.css">

</head>
<body>
    <div id="first-section">
        <header>
            <a href="/"><img class="logo" src="/images/logo.jpg" alt="Logo"></a>
            <nav>
                <div class="links">
                    <a href="/">Link 1</a>
                    <a href="/">Link 2</a>
                    <a href="/">Link 3</a>
                    <a href="/">Link 4</a>
                </div>
                <div class="user">
                    <a href="/login"><img class="logo" src="/images/user.png" alt="User"></a>
                </div>
            </nav>
        </header>
        <form action="/search" class="search-bar">
            <input type="text" name="search" id="search" placeholder="Search...">
            <button type="submit" class="search-icon"><img src="/images/search.png" alt=""></button>
        </form>
        <div class="intro">
            <h1>A solution for Investors, Analysts and Industry Leaders</h1>
            <button type="button" onclick="location.href='/register'">Start Here</button>
            <button type="button" onclick="location.href='/register'" id="button-arrow"><img src="/images/arrow.png" alt=""></button>
        </div>
    </div>

    <div id="firstToSecond" class="spacer"></div>

    <div id="second-section">

    </div>

    <div id="third-section">
        
    </div>

    <footer>
        <h2>A solution for Investors, Analysts and Industry Leaders</h2>
        <button type="button" onclick="location.href='/register'">Try it now</button>
        <button type="button" onclick="location.href='/register'" id="button-arrow"><img src="/images/arrow.png" alt=""></button>

        <div class="cards">
            <div id="card1"></div>
            <div id="card2">
                <h2>Contact Us</h2>
                <p>example@ecarmarket.es</p>
                <p>+34 625 19 25 83</p>
            </div>
            <div id="card3"></div>
        </div>
    </footer>
</body>
</html>