@import "../variables.css";
footer {
    height: 100%;
    background-color: var(--half-baked-950);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--corn-field-100);
    padding-top: 50px;
}

footer h2 {
    font-family: var(--titles);
}

footer button {
    font-size: 1.5em;
    color: var(--corn-field-100);
    background-color: var(--half-baked-900);
    border: none;
    padding: 10px 60px 10px 25px;
    border-radius: 50px;
}

footer #button-arrow {
    left: 65px;
    bottom: 37px;
}

footer #button-arrow img {
    height: 20px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.cards div {
    height: 300px;
    width: 300px;
    background-color: var(--half-baked-800);
    border-radius: 50px;
}

#card2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
